<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="startMinMenuItem" value="true" />
    <add key="hiddenMenuItem" value="true" />
    <add key="/intelcpu/0/load/1/plot" value="false" />
    <add key="/intelcpu/0/load/2/plot" value="false" />
    <add key="/intelcpu/0/load/3/plot" value="false" />
    <add key="/intelcpu/0/load/4/plot" value="false" />
    <add key="/intelcpu/0/load/0/plot" value="false" />
    <add key="/intelcpu/0/temperature/0/plot" value="false" />
    <add key="/intelcpu/0/temperature/1/plot" value="false" />
    <add key="/intelcpu/0/temperature/2/plot" value="false" />
    <add key="/intelcpu/0/temperature/3/plot" value="false" />
    <add key="/intelcpu/0/clock/1/plot" value="false" />
    <add key="/intelcpu/0/clock/2/plot" value="false" />
    <add key="/intelcpu/0/clock/3/plot" value="false" />
    <add key="/intelcpu/0/clock/4/plot" value="false" />
    <add key="/intelcpu/0/clock/0/plot" value="false" />
    <add key="/ram/load/0/plot" value="false" />
    <add key="/ram/data/0/plot" value="false" />
    <add key="/ram/data/1/plot" value="false" />
    <add key="/atigpu/0/temperature/0/plot" value="false" />
    <add key="/atigpu/0/fan/0/plot" value="false" />
    <add key="/atigpu/0/control/0/plot" value="false" />
    <add key="/atigpu/0/clock/0/plot" value="false" />
    <add key="/atigpu/0/clock/1/plot" value="false" />
    <add key="/atigpu/0/voltage/0/plot" value="false" />
    <add key="/atigpu/0/load/0/plot" value="false" />
    <add key="/hdd/0/temperature/0/plot" value="false" />
    <add key="/hdd/0/load/0/plot" value="false" />
    <add key="/hdd/1/temperature/0/plot" value="false" />
    <add key="/hdd/1/load/0/plot" value="false" />
    <add key="/hdd/2/temperature/0/plot" value="false" />
    <add key="/hdd/2/load/0/plot" value="false" />
    <add key="/lpc/f71858/voltage/0/plot" value="false" />
    <add key="/lpc/f71858/voltage/1/plot" value="false" />
    <add key="/lpc/f71858/voltage/2/plot" value="false" />
    <add key="/lpc/f71858/temperature/0/plot" value="false" />
    <add key="/lpc/f71858/temperature/1/plot" value="false" />
    <add key="/lpc/f71858/temperature/2/plot" value="false" />
    <add key="/lpc/f71858/fan/0/plot" value="false" />
    <add key="/lpc/f71858/fan/1/plot" value="false" />
    <add key="/hdd/2/load/0/values" value="" />
    <add key="/hdd/2/temperature/0/values" value="" />
    <add key="/hdd/1/load/0/values" value="" />
    <add key="/hdd/1/temperature/0/values" value="" />
    <add key="/hdd/0/load/0/values" value="" />
    <add key="/hdd/0/temperature/0/values" value="" />
    <add key="/atigpu/0/control/0/values" value="H4sIAAAAAAAEACtYEbCuNveyBwPDDUftJ7aNzAwgcOC/0/uLTGAmwwNHAFI6dakkAAAA" />
    <add key="/atigpu/0/load/0/values" value="H4sIAAAAAAAEAGs8H7CuNveyBwMQSO21bWQGMRgO/A8Wu8TEAAUAXvMz0SQAAAA=" />
    <add key="/atigpu/0/voltage/0/values" value="H4sIAAAAAAAEAGs8H7CuNveyR3pamr3UXttGZgYQOPA/WOwSE4gFEgcAL9EwPSQAAAA=" />
    <add key="/atigpu/0/clock/1/values" value="H4sIAAAAAAAEAGs8H7CuNveyBwODmLPUXttGZgYQOPA/WOwSE5gJFAcAwP0yOSQAAAA=" />
    <add key="/atigpu/0/clock/0/values" value="H4sIAAAAAAAEAGs8H7CuNveyBwNDlbPUXttGZgYQOPA/WOwSE5gJFAcAm7XIxCQAAAA=" />
    <add key="/atigpu/0/fan/0/values" value="H4sIAAAAAAAEACtYEbCuNveyBwPHLhftJ7aNzAwgcOC/0/uLTGDmi/0uANyePIEkAAAA" />
    <add key="/atigpu/0/temperature/0/values" value="H4sIAAAAAAAEAEtoDFhXm3vZg5FB1cma266RmQEEDvw3OnGRCcQCiQMASlQG7SQAAAA=" />
    <add key="/ram/data/1/values" value="H4sIAAAAAAAEAPss+npdbe5lD19nd0el5rkNzAwgcOC/d0ARmNlfb+cIAF3DpmckAAAA" />
    <add key="/ram/data/0/values" value="H4sIAAAAAAAEAPss+npdbe5lD56UBAel5rkNzAwgcOC/d0ARmNm0s9EBAHuC3+QkAAAA" />
    <add key="/ram/load/0/values" value="H4sIAAAAAAAEAPss+npdbe5lj8596x2Vmuc2MDOAwIH/3gFFYOZJ49OOAHIKYCckAAAA" />
    <add key="/intelcpu/0/clock/4/values" value="H4sIAAAAAAAEAEtoDFhXm3vZI/4Wg2vkY5NGZgYQOPBf5MMtJhCratFUFwAJIUMOJAAAAA==" />
    <add key="/intelcpu/0/clock/3/values" value="H4sIAAAAAAAEAPOPClhXm3vZY9fq0y5ZXKaNzAwgcOA/88lbTCBW1aKpLgCl90yNJAAAAA==" />
    <add key="/intelcpu/0/clock/2/values" value="H4sIAAAAAAAEALMzDlhXm3vZY8uiqS7VhqaNzAwgcOD/54W3mECsKqA4ANa7oygkAAAA" />
    <add key="/intelcpu/0/clock/1/values" value="H4sIAAAAAAAEANPjCVhXm3vZY8uiqS7dEaaNzAwgcOD/o6pbTCBWFVAcAEclHh0kAAAA" />
    <add key="/intelcpu/0/clock/0/values" value="H4sIAAAAAAAEAEtoDFhXm3vZI4OJ1TnysUkjMwMIHPgv8uEWE4hlDBQHAAov2vEkAAAA" />
    <add key="/intelcpu/0/temperature/3/values" value="H4sIAAAAAAAEAJN96r+uNveyBwODvdOcetNGZgYQOPD/YvAtJjCTwc8JAKht3sEkAAAA" />
    <add key="/intelcpu/0/temperature/2/values" value="H4sIAAAAAAAEAJN96r+uNveyBwODldOcetNGZgYQOPD/YvAtJjCTwc0JAOnXjsQkAAAA" />
    <add key="/intelcpu/0/temperature/1/values" value="H4sIAAAAAAAEAJN96r+uNveyBwODs1N3hGkjMwMIHPj/qOoWE5jJEOAEACXsNi8kAAAA" />
    <add key="/intelcpu/0/temperature/0/values" value="H4sIAAAAAAAEAJN96r+uNveyBwODj1N3hGkjMwMIHPj/qOoWE5jJEOUEADVSM1gkAAAA" />
    <add key="/intelcpu/0/load/4/values" value="H4sIAAAAAAAEAJN96r+uNveyx7WHnx1WvzZoZGYAgQP/Dz2/xwRinV/3xgEAPQjWHCQAAAA=" />
    <add key="/intelcpu/0/load/3/values" value="H4sIAAAAAAAEAJN96r+uNveyx8u64w6rXxs0MjOAwIH/h57fYwKxONwnOQAAOx6DGyQAAAA=" />
    <add key="/intelcpu/0/load/2/values" value="H4sIAAAAAAAEAJN96r+uNveyh8T07Q6rXxs0MjOAwIH/h57fYwKxbm3odwAAOMzCjiQAAAA=" />
    <add key="/intelcpu/0/load/1/values" value="H4sIAAAAAAAEAHuT77+uNveyx8lnUxzvJBg2MjOAwIH/mw7cYwKx/rU2OwIApuiH0SQAAAA=" />
    <add key="/intelcpu/0/load/0/values" value="H4sIAAAAAAAEAJN96r+uNveyR9IlCcfVrw0amRlA4MD/Q8/vMYFYV6czOwIACynWHSQAAAA=" />
    <add key="/lpc/f71858/fan/3/values" value="H4sIAAAAAAAEAFsQ9Gpdbe5lDwYgYGkpb2AGMRgO/K8qmwFhAgEA+ykYryQAAAA=" />
    <add key="/lpc/f71858/fan/2/values" value="H4sIAAAAAAAEAFsQ9Gpdbe5lDwYgYGkpb2AGMRgO/K8qmwFhAgEA+ykYryQAAAA=" />
    <add key="/lpc/f71858/fan/1/values" value="H4sIAAAAAAAEAFsQ9Gpdbe5lj6zSbheWlvIGZgYQOPC/qmwGmPnIvNgFAHz1NSgkAAAA" />
    <add key="/lpc/f71858/fan/0/values" value="H4sIAAAAAAAEAFsQ9Gpdbe5lj0xxBleWlvIGZgYQOPC/qmwGmNl+d44LAE8c4sgkAAAA" />
    <add key="/lpc/f71858/temperature/2/values" value="H4sIAAAAAAAEAFsQ9Gpdbe5lD4aESKfPMeUNzAwgcOB/99wZEKZCmhMAoKX02iQAAAA=" />
    <add key="/lpc/f71858/temperature/1/values" value="H4sIAAAAAAAEAFsQ9Gpdbe5lDwYFHqfPMeUNzAwgcOB/99wZECaDvBMA+IbmHSQAAAA=" />
    <add key="/lpc/f71858/temperature/0/values" value="H4sIAAAAAAAEAFsQ9Gpdbe5lD4YHfE6fY8obmBlA4MD/7rkzIMwHwk4ARaluMSQAAAA=" />
    <add key="/lpc/f71858/voltage/2/values" value="H4sIAAAAAAAEAFsQ9Gpdbe5lD5v7/g6PTMsbmBlA4MD/OUdmgJkgcQDhmo8iJAAAAA==" />
    <add key="/lpc/f71858/voltage/1/values" value="H4sIAAAAAAAEAFsQ9Gpdbe5lDxPjYIdHpuUNzAwgcOD/nCMzwEz3bcEOAGcIP8QkAAAA" />
    <add key="/lpc/f71858/voltage/0/values" value="H4sIAAAAAAAEAFsQ9Gpdbe5lj9UfgxwemZY3MDOAwIH/c47MADNB4gBjc8/6JAAAAA==" />
    <add key="plotPanel.MinTimeSpan" value="0" />
    <add key="plotPanel.MaxTimeSpan" value="600" />
    <add key="plotPanel.MinVoltage" value="NaN" />
    <add key="plotPanel.MaxVoltage" value="NaN" />
    <add key="plotPanel.MinClock" value="NaN" />
    <add key="plotPanel.MaxClock" value="NaN" />
    <add key="plotPanel.MinTemperature" value="NaN" />
    <add key="plotPanel.MaxTemperature" value="NaN" />
    <add key="plotPanel.MinLoad" value="NaN" />
    <add key="plotPanel.MaxLoad" value="NaN" />
    <add key="plotPanel.MinFan" value="NaN" />
    <add key="plotPanel.MaxFan" value="NaN" />
    <add key="plotPanel.MinFlow" value="NaN" />
    <add key="plotPanel.MaxFlow" value="NaN" />
    <add key="plotPanel.MinControl" value="NaN" />
    <add key="plotPanel.MaxControl" value="NaN" />
    <add key="plotPanel.MinLevel" value="NaN" />
    <add key="plotPanel.MaxLevel" value="NaN" />
    <add key="plotPanel.MinFactor" value="NaN" />
    <add key="plotPanel.MaxFactor" value="NaN" />
    <add key="plotPanel.MinPower" value="NaN" />
    <add key="plotPanel.MaxPower" value="NaN" />
    <add key="plotPanel.MinData" value="NaN" />
    <add key="plotPanel.MaxData" value="NaN" />
    <add key="treeView.Columns.Sensor.Width" value="250" />
    <add key="treeView.Columns.Value.Width" value="100" />
    <add key="treeView.Columns.Min.Width" value="100" />
    <add key="treeView.Columns.Max.Width" value="100" />
    <add key="listenerPort" value="8085" />
  </appSettings>
</configuration>